
<web-app>


  <display-name></display-name>

  <description></description>
<!--
<filter>

  <filter-name>Timing Filter</filter-name>
  <filter-class>filters.ExampleFilter</filter-class>
  <init-param>
    <param-name>attribute</param-name>
    <param-value>filters.ExampleFilter</param-value>
  </init-param> 

</filter>
-->

<!--
    <filter-mapping>
      <filter-name>Compression Filter</filter-name>
      <url-pattern>/CompressionTest</url-pattern>
    </filter-mapping>
-->

    <!-- Define example application events listeners -->
    <!-- <listener> -->
    <!--     <listener-class>listeners.ContextListener</listener-class> -->
    <!-- </listener> -->
    <!-- <listener> -->
    <!--     <listener-class>listeners.SessionListener</listener-class> -->
    <!-- </listener> -->


    <!-- Define servlets that are included in the example application -->

 <!--    <servlet>
        <servlet-name>inicioSesion</servlet-name>
        <servlet-class>inicioSesion</servlet-class>
    </servlet>

    <servlet-mapping>
         <servlet-name>inicioSesion</servlet-name>
         <url-pattern>/loginWeb</url-pattern>
    </servlet-mapping> -->

      <resource-ref>
    <description>                                                                                                                                                                                                                             
      Resource reference to a factory for java.sql.Connection                                                                                                                                                                                 
      instances that may be used for talking to a particular                                                                                                                                                                                  
      database that is configured in the Context                                                                                                                                                                                              
      configurartion for the web application.                                                                                                                                                                                                 
    </description>
    <res-ref-name>                                                                                                                                                                                                                            
      jdbc/BaseDatos
    </res-ref-name>
    <res-type>                                                                                                                                                                                                                                
      javax.sql.DataSource                                                                                                                                                                                                                    
    </res-type>
    <res-auth>                                                                                                                                                                                                                                
      Container                                                                                                                                                                                                                               
    </res-auth>
      </resource-ref>


</web-app>